<div id="<%= dom_id watchlist %>">
  <p>
    <strong>User:</strong>
    <%= watchlist.item.seller.name %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= link_to watchlist.item.name, item_path(watchlist.item.id) %>
  </p>

</div>
