<div id="<%= dom_id(watchlist) %>">
  <% @watchlists.each do |auction| %>
    <p>
      <strong>User:</strong>
      <%= auction.auction.seller.name %>
    </p>
    <p>
      <strong>Item:</strong>
      <%= link_to auction.auction.item.name, auction_path(auction) %>
    </p>
  <% end %>
</div>
