<p style="color: green"><%= notice %></p>

<h1>Watchlists</h1>

<div id="watchlists">
  <% @watchlists.each do |watchlist| %>
    <%= render watchlist %>
    <p>
      <%= link_to "Show this watchlist", watchlist %> <br>
      <%= link_to "Delete this watchlist", watchlist_path(watchlist), method: :delete %>
    </p>
  <% end %>
</div>


