<h1>Search Results</h1>
<% if @results.present? %>
  <% @results.each do |result| %>
    <%= result.name %> </br>
    <%= result.description %> </br>
  <% end %>
  <% else %>
  No results found
  <% end %>